.t-parent{
    display: flex;
    .t-container{
        flex: 1;
        height: 500px;
        border: 1px solid #d3d3d3;
        box-sizing: border-box;
        padding: 10px;
        overflow: auto;
    }
    .t-list{
        width: 160px;
        flex: 0 0 160px;
        margin-right: 10px;
        border: 1px solid #d3d3d3;
        box-sizing: border-box;
        padding: 10px;
    }
   
}